.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: #ffffff;
    border: 0;

}
.categories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;
}
.align-items-center{
    margin-top: 20px;
}