
.first-slider img{
    width: 100%;
}
.fh{
    color: rgb(189, 178, 184);
}
footer{
    margin-top: 300px;
    background-color: rgba(92, 9, 9, 0.705);
    text-align: center;
    height: 250px;
    padding-top: 50px;
}