.nav-menu{
    min-height: 60px;
}

.first-slider img{
    width: 100%;
}
.fh{
    color: deeppink;
}
footer{
    margin-top: 300px;
    background-color: black;
    text-align: center;
    height: 250px;
    padding-top: 50px;
}
